.noteCard {
	cursor: pointer;
	list-style: none;
	width: 100%;
	background: #f4f4f4;
	padding: 5px;
	border-radius: 8px;
	margin-bottom: 5px;

	.name {
		font-weight: bold;
		margin-bottom: 3px;
	}

	.contents {
		margin-left: 3px;
		margin-bottom: 3px;
	}
	.date {
		margin-left: 3px;
		font-size: 14px;
		color: grey;
	}
	&:hover {
		background: #efefef;
	}
}
