.box {
	box-shadow: var(--boxShadow);
	padding: 10px;
	border-radius: 8px;
	margin: 0px;
	width: 450px;
	display: flex;
	flex-direction: column;
	height: min(calc(100vh - 100px), 600px);
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	top: 66px;
	right: 80px;
	background: rgb(255, 255, 255);
	border: 1px solid rgb(201, 201, 201);
	display: flex;
	flex-direction: column;
	.boxHeader {
		height: 30px;
		display: none;
		width: 100%;
		justify-content: right;
		.closeBtn {
			cursor: pointer;
			margin-right: 20px;
			height: 100%;
			font-size: 60px;
		}
	}
	.headerBoundary {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.box {
		padding: 16px;
	}
}

@media screen and (max-width: 528px) {
	.box {
		border-radius: 0px;
		border: none;
		width: 100vw;
		height: 100vh;
		left: 0px;
		top: 0px;

		.boxHeader {
			display: flex;
		}
		.headerBoundary {
			display: block;
		}
	}
}
