.cardWrap {
	position: relative;
	left: 0;
	border-radius: 8px;
	background: #f7f7f7;
	margin-bottom: 5px;
	padding: 5px;
	padding-right: 15px;
	transition: left 0.1s;
	cursor: pointer;
	&:hover {
		background: #efefef;
	}
	.explane {
		margin-left: 3px;
	}
	.alarmType {
		display: flex;
		justify-content: space-between;
		margin-bottom: 3px;
	}
	.alarmAnnounce {
		margin: 3px;
	}
}

.checked::before {
	position: absolute;
	border-left: 2px solid rgb(255, 59, 59);
	content: '';
	height: calc(100% - 8px);
	left: 0;
}

.del {
	left: 500px;
}
