.moreModal {
	border: 1px solid lightgrey;
	padding: 5px;
	margin: 0px;
	display: none;
	position: absolute;
	background: white;
	left: 0;
	top: 0;
	width: 200px;
	height: 100px;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 8px;
	box-shadow: var(--boxShadow);
	> div {
		padding-left: 10px;
		display: flex;
		align-items: center;
		height: 33%;
		cursor: pointer;
		border-bottom: 1px solid lightgrey;
		&:hover {
			background: rgb(227, 227, 227);
		}
	}
	> :last-child {
		border: none;
	}
}

.on {
	display: flex;
}
