.myAdoptCtg {
	justify-content: space-around;
	display: flex;
	width: 100%;
	position: relative;
	margin-bottom: 20px;
	height: 40px;
	.categoryBtn {
		margin-right: 20px;
		width: 25%;
		font-weight: bold;
		color: black;
		font-size: 20px;
		margin: 0px;
		cursor: pointer;
		text-align: center;
		background: none;
		height: 100%;
		padding: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.currentBtn {
		background: linear-gradient(
			0deg,
			rgba(247, 247, 255, 0.7),
			rgba(243, 247, 255, 0)
		);
		border-bottom: 3px solid var(--skyblue);
		color: var(--skyblue);
	}
}
