.container {
	margin: 0 16px 16px 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	.chatInput {
		width: 100%;
		display: flex;
		align-items: center;
		input {
			background-color: var(--gray);
			padding: 4px 8px;
			border-radius: 50px;
			outline: none;
			border: none;
			margin: 0 6px;
			flex-grow: 1;
		}

		img {
			cursor: pointer;
		}
	}

	.menu {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding: 0;
		width: 100%;
		height: 234px;
		margin: 16px 0 0 0;
		list-style-type: none;

		li {
			cursor: pointer;
			margin: 12px;
			user-select: none;
			display: flex;
			flex-direction: column;
			align-items: center;
			font-weight: bold;
			.icon {
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
				width: 50px;
				height: 50px;
				background-color: var(--gray);
				margin-bottom: 8px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.container {
		margin: 0 12px 12px 12px;
		.menu {
			height: 238px;
			margin: 12px 0 0 0;
		}
	}
}
