.container {
	z-index: 99;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 100vw;
	background-color: var(--white);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	padding: 12px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px -1px 0px 0px inset;
}

.goBack {
	cursor: pointer;
	width: 36px;
	height: 36px;
}

.writeButton {
	cursor: pointer;
	min-width: 70px;
	border: none;
	background-color: var(--black);
	color: var(--white);
	border-radius: 6px;
	height: 28px;
	padding: 4px 16px;
	height: 32px;
	font-weight: bold;
	font-size: 14px;
}

@media screen and (max-width: 768px) {
	.container {
		padding: 0 12px;
		box-shadow: rgba(0, 0, 0, 0.25) 0px -1px 0px 0px inset;
	}
}
