.container {
	margin: 16px;
}

.message {
	position: relative;
	flex-grow: 1;
	min-height: 32px;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: center;
	margin: 0 40px;
	.text {
		display: inline-block;
		height: 28px;
		background-color: var(--gray);
		line-height: 28px;
		border-radius: 8px;
		margin: 0 4px;
		padding: 0 8px;
	}

	.profile {
		user-select: none;
		position: absolute;
		top: 0;
	}
}

.opponent {
	justify-content: flex-start;
	.profile {
		left: -40px;
	}
}

.textContainer {
	display: flex;
	align-items: flex-end;
	min-height: 28px;
}

.me {
	justify-content: flex-end;
	.profile {
		right: -40px;
	}
}

.time {
	font-size: 10px;
}

.rowReverse {
	flex-direction: row-reverse;
}

.multimedia {
	margin: 0 4px;
	width: 200px;
	height: 200px;
	border-radius: 8px;
	background-color: var(--gray);
}

@media screen and (max-width: 768px) {
	.container {
		margin: 12px;
	}
}
