.header {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
	position: relative;
	margin-bottom: 16px;
}

.title {
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
	max-width: calc(100% - 40px);
	user-select: none;
	font-size: 24px;
	font-weight: bold;
	line-height: 32px;
	padding-right: 8px;
	height: 32px;
	overflow: hidden;
}

.writeButton {
	cursor: pointer;
	margin-left: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	border: 1px solid #d1d6db;
	background-color: var(--greyBackground);
	border-radius: 4px;
	transition: var(--transition);
	&:hover {
		background-color: #d1d6db;
	}
}

@media screen and (max-width: 768px) {
	.header {
		padding: 0 12px;
		margin: 8px 0;
	}

	.title {
		left: 12px;
		padding-right: 8px;
	}
}
