.container {
	padding: 16px 16px 4px 16px;
	border-bottom: 1px solid var(--gray);
	position: relative;

	.title {
		word-break: break-all;
		display: inline-block;
		margin-bottom: 4px;
		font-size: 20px;
		font-weight: bold;
	}
	.profile {
		width: 20px;
		height: 20px;
		margin-right: 8px;
		border-radius: 50%;
	}

	.authorInfo {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.author {
		display: inline-block;
		height: 20px;
	}

	.metadata {
		display: flex;
		justify-content: space-between;
		font-size: 12px;
		margin-top: 8px;
	}
}

@media screen and (max-width: 768px) {
	.container {
		padding: 12px 12px 4px 12px;
	}
}
