.container {
	user-select: none;
	padding: 0 16px 16px 16px;
	display: flex;

	.item {
		cursor: pointer;
		padding: 8px 16px;
		border-radius: 50px;
		font-size: 14px;
		background-color: var(--gray);
		display: flex;
		justify-content: center;
		margin-right: 8px;

		img {
			width: 16px;
			height: 16px;
			margin-right: 6px;
		}
	}
}

@media screen and (max-width: 768px) {
	.container {
		padding: 0 12px 12px 12px;
	}
}
