.container {
	background-color: #000;
	aspect-ratio: 1;
	width: 100%;
	overflow: hidden;
	position: relative;
	border-radius: 8px 8px 0 0;
}

.images {
	transition: var(--transition);
	display: flex;
	background-color: #000;
}

.image {
	background-color: #000;
	aspect-ratio: 1;
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.control {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.left,
.right {
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.75);
	position: absolute;
	width: 64px;
	height: 64px;
	transform: translateY(-50%);
	top: 50%;
	border-radius: 50%;
	cursor: pointer;
	img {
		width: 64px;
		height: 64px;
	}
}

.left {
	left: 24px;
}

.right {
	right: 24px;

	img {
		transform: rotate(180deg);
	}
}

.mobile {
	width: 100%;
	height: 100%;
	display: none;
}

@media screen and (max-width: 768px) {
	.container {
		border-radius: 0;
	}
	.desktop {
		display: none;
	}

	.mobile {
		display: flex;
	}
}
