.container {
	padding: 16px;

	text-align: center;
	.map {
		height: 300px;
		border-radius: 8px;
	}

	span {
		display: inline-block;
		font-size: 24px;
		font-weight: bold;
		margin-top: 16px;
	}
}

@media screen and (max-width: 768px) {
	.container {
		padding: 12px;

		span {
			font-size: 18px;
			margin-top: 12px;
		}
	}
}
