.container {
	display: flex;
	flex-direction: column;
	padding: 16px 0;
	margin: 0;
	border-bottom: 1px solid var(--gray);

	input {
		display: none;
	}

	.header {
		display: flex;
		align-items: center;
		height: 32px;
		justify-content: space-between;
		margin-bottom: 16px;

		button {
			cursor: pointer;
			border: none;
			outline: none;
			background-color: var(--black);
			color: var(--white);
			height: 32px;
			border-radius: 8px;
			padding: 0 12px;
		}
	}

	span {
		font-size: 24px;
		font-weight: bold;
	}

	.map {
		height: 300px;
		width: 100%;
		background-color: var(--gray);
		border-radius: 8px;
	}
}

@media screen and (max-width: 768px) {
	.container {
		padding: 12px 0;
	}
}
