.container {
	display: flex;
	flex-direction: column;
	padding: 16px;
	border-bottom: 1px solid var(--gray);

	.title {
		font-weight: bold;
		font-size: 28px;
		margin-bottom: 16px;
	}

	.status {
		display: flex;
		justify-content: space-between;
	}
}

@media screen and (max-width: 768px) {
	.container {
		padding: 12px;

		.title {
			margin-bottom: 12px;
		}
	}
}
