.more {
	position: relative;
	border-bottom: 1px solid var(--gray);

	.text {
		position: absolute;
		font-weight: bold;
		font-size: 18px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
