.container {
	user-select: none;
	padding: 16px;
	border-bottom: 1px solid var(--gray);
	display: flex;

	background-image: linear-gradient(
			90deg,
			transparent,
			rgba(255, 255, 255, 0.5) 35%,
			rgba(255, 255, 255, 0.5) 65%,
			transparent
		),
		linear-gradient(var(--gray) 24px, transparent 0),
		linear-gradient(var(--gray) 18px, transparent 0),
		linear-gradient(var(--gray) 20px, transparent 0),
		linear-gradient(var(--gray) 20px, transparent 0);
	background-size: 30%, calc(70% - 124px), calc(100% - 140px), 120px, 80px;
	background-position: -60% 0, 124px 16px, 124px 44px, 124px 88px,
		right 16px top 88px;
	animation: desktopLoading 1.5s linear infinite;

	background-repeat: no-repeat;
}

.thumbnail {
	background: var(--middlegray);
	width: 92px;
	min-width: 92px;
	height: 92px;
	margin-right: 16px;
	border-radius: 8px;
}

@keyframes desktopLoading {
	to {
		background-position: 160% 0, 124px 16px, 124px 44px, 124px 88px,
			right 16px top 88px;
	}
}
@keyframes mobileLoading {
	to {
		background-position: 160% 0, 116px 12px, 116px 42px, 116px 84px,
			right 12px top 84px;
	}
}

@media screen and (max-width: 768px) {
	.container {
		padding: 12px;
		background-size: 50%, calc(70% - 116px), calc(100% - 128px), 120px, 70px;
		background-position: 0 0, 116px 12px, 116px 42px, 116px 84px,
			right 12px top 84px;
		animation: mobileLoading 1.5s infinite;
	}

	.thumbnail {
		margin-right: 12px;
	}
}
