.imageContainer {
	overflow-x: hidden;
	overflow-y: hidden;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: row;
	border-bottom: 1px solid var(--gray);
	margin: 0 16px;
}

.imageButton {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--gray);
	min-width: 64px;
	width: 64px;
	height: 64px;
	border-radius: 6px;
	margin: 16px 8px 16px 0;

	img {
		width: 32px;
		height: 32px;
	}

	span {
		font-size: bold;
		margin-top: 4px;
	}
}

.previewContainer {
	position: relative;
	height: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.preview {
	height: 64px;
	width: 64px;
	border-radius: 6px;
	margin: 0 8px;
	cursor: pointer;
	object-fit: cover;
}

.imageInput {
	display: none;
}

.loading {
	font-size: 14px;
	user-select: none;
	color: var(--white);
	background-color: #00000075;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 64px;
	width: 64px;
	border-radius: 6px;
	margin: 0 8px;
	top: 0;
	position: absolute;
}

@media screen and (max-width: 501px) {
	.imageContainer {
		overflow-x: scroll;
		overflow-y: hidden;
		flex-wrap: nowrap;
		margin: 0 12px;
	}
}
