.cardWrap {
	border-radius: 8px;
	background: #f3f3f3;
	margin-bottom: 5px;
	padding: 5px;
	padding-right: 15px;
	cursor: pointer;
	&:hover {
		background: #eaeaea;
	}
	.nameWrap {
		font-weight: bold;
		margin-bottom: 5px;
		.name {
			margin-right: 10px;
		}
		.number {
			color: red;
		}
	}

	.contents {
		margin-left: 3px;
		margin-bottom: 5px;
	}

	.date {
		margin-left: 3px;
		margin-bottom: 5px;
		font-size: 14px;
		color: grey;
	}
}
