.aside {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	z-index: 99;
	top: var(--header-height);
	left: 0;
	width: var(--aside-width);
	height: calc(100vh - var(--header-height));
	background-color: var(--white);
	grid-area: aside;
	transition: var(--transition);
	box-shadow: rgba(0, 0, 0, 0.1) -1px 0px 0px 0px inset;
}
.aside[data-active] {
	display: flex;
	transform: translateX(0);
}

@media screen and (max-width: 1024px) and (min-width: 501px) {
	.aside {
		transform: translateX(-280px);
	}
}

@media screen and (max-width: 500px) {
	.aside {
		transform: translateX(-100%);
		width: 100%;
		box-shadow: none;
	}
}
