.profileBox {
	width: 450px;
	height: 160px;
	border-radius: 8px;
	padding: 10px;
	display: flex;
	background: var(--white);
	border: 1px solid rgb(201, 201, 201);
	box-shadow: var(--boxShadow);

	img {
		width: 140px;
		height: 140px;
		border-radius: 50%;
		margin-right: 10px;
	}
	div {
		span {
			margin-right: 5px;
		}
		:nth-child(2) {
			margin-bottom: 3px;
		}
		p {
			font-size: 18px;
		}
		div {
			:nth-child(1) {
				cursor: pointer;
				&:hover {
					text-decoration: underline;
				}
			}
			:nth-child(4) {
				font-size: 14px;
			}
		}
	}
}
