.box {
	box-shadow: var(--boxShadow);
	border-radius: 8px;
	margin: 0px;
	width: 330px;
	height: 340px;
	position: absolute;
	top: 66px;
	right: 60px;
	background: rgb(255, 255, 255);
	border: 1px solid rgb(201, 201, 201);
	padding: 5px;
	.boxHeader {
		height: 30px;
		display: none;
		width: 100%;
		justify-content: right;
		.closeBtn {
			cursor: pointer;
			margin-right: 0px;
			height: 100%;
			font-size: 60px;
		}
	}
	.headerBoundary {
		display: none;
	}

	.profileCard {
		display: flex;
		border-radius: 8px;
		margin-bottom: 3px;
		background: rgb(53, 53, 53);
		padding: 10px;
		.profileImgWrap {
			width: 80px;
			height: 80px;
			background: white;
			border-radius: 50%;
			margin-right: 10px;
		}
		.name {
			margin: 3px 0;
			font-size: 22px;
			color: white;
		}
		.address {
			color: white;
		}
		.activity {
			color: white;
			span {
				margin-right: 10px;
			}
			:first-child {
				cursor: pointer;
				&:hover {
					text-decoration: underline;
				}
			}
			.acts {
				display: inline;
				margin-right: 10px;
			}
		}
	}

	.myNav {
		display: flex;
		align-items: center;
		height: 30px;
		font-size: 21px;
		padding: 22px 10px;
		border-bottom: 1px solid lightgrey;
		cursor: pointer;
		&:hover {
			background: rgb(221, 221, 221);
		}
	}

	.logout {
		color: rgb(255, 122, 122);
	}
}

@media screen and (max-width: 768px) {
	.box {
		padding: 16px;
		border-radius: 0px;
		border: none;
		width: 100vw;
		height: 100vh;
		left: 0px;
		top: 0px;

		.profileCard {
			display: flex;
			height: 120px;
			.profileImgWrap {
				width: 100px;
				height: 100px;
			}
			.name {
				margin: 10px 0 20px 0;
				font-size: 25px;
				color: white;
			}
			.address {
				color: white;
			}
			.activity {
				color: white;
				:first-child {
					font-size: 15px;
				}
				span {
					font-size: 12px;
					margin-right: 10px;
				}
				.acts {
					display: inline;
				}
			}
		}
		.boxHeader {
			display: flex;
		}
		.headerBoundary {
			display: block;
		}
	}
}
