:root {
	/* 레이아웃 속성 */
	--header-height: 60px;
	--aside-width: 280px;

	/* 레이아웃 색상 */
	--background: var(--white);
	--greyBackground: var(--bluewhite);
	--color-text: var(--black);
	--color-text-light: var(--lightblack);

	/* 기타 속성 */
	--transition: 0.3s ease-in-out;

	/* 색상 */
	--white: #fff;
	--bluewhite: #f2f4f6;
	--lightgray: #f4f4f5;
	--gray: #ececee;
	--middlegray: #d1d6db;
	--darkgray: #71717a;
	--lightblack: #444447;
	--black: #18181b;
	--red: #da3238;
}

* {
	font-family: 'AppleSDGothicNeo', sans-serif;
	box-sizing: border-box;
}

#__next,
body,
html {
	max-width: 100%;
	min-height: 100vh;
}

html,
body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

.layout {
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: grid;
	grid-template-areas:
		'header header'
		'aside main';
	grid-template-rows: var(--header-height) 1fr;
	grid-template-columns: var(--aside-width) 1fr;
	justify-items: center;
}

.main {
	position: relative;
	grid-area: main;
	width: 100%;
	background-color: var(--bluewhite);
	display: flex;
	overflow: hidden;
	justify-content: center;
}

.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	max-width: 768px;
	padding: 48px 16px;
	margin: 0 auto;
}

.body {
	background-color: var(--white);
	border-radius: 6px;
	flex-grow: 1;
	max-width: 100vw;
	overflow: hidden;
	width: 100%;
}

@media screen and (max-width: 1024px) {
	.layout {
		grid-template-columns: none;
		grid-template-areas:
			'header'
			'main';
	}
}
@media screen and (max-width: 768px) {
	.container {
		padding: 0;
		background-color: var(--white);
	}
}
